@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("./assets/Inter/static/Inter-Black.ttf") format("woff2");
  }

  @font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/Inter/static/Inter-Medium.ttf") format("woff2");
  }
} */
* {
  font-family: "Inter", sans-serif, system-ui;
}

body {
  background-color: #f9fafb;
}

/**
   scroll bar styles 
 */

*::-webkit-scrollbar {
  width: 5px !important;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4755697e;
  border-radius: 20px;
  min-height: 10% !important;
}

/**
If you wanna remove scrollbar please use this class called "no-scrollbar"
*/

.no-scrollbar::-webkit-scrollbar {
  width: 0 !important;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.textarea::-webkit-scrollbar {
  width: 8px !important;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}



.tertiary {
  background: linear-gradient(132deg, #963fff -9.83%, #2e42ff 91.64%);
  color: #fff;
  transition: all 0.3s;
}

.tertiary:hover {
  background: linear-gradient(132deg, #963fff -9.83%, #2e42ff 91.64%);
  box-shadow: 0 4px 18px #4d42ff99;
}

.tertiary:active {
  background: linear-gradient(132deg, #7137d5 -9.83%, #2939d5 91.64%);
}

.previous-btn {
  background: rgba(230, 240, 254, 1);
  color: rgba(30, 32, 34, 1);
  font-weight: 600;
  line-height: 22px;
}

.previous-btn:hover {
  background-color: rgba(230, 237, 254, 22);
}

/* .css-117w1su-MuiStepIcon-text {
  fill: rgba(46, 66, 255, 1) !important;
} */
.MuiStepLabel-labelContainer>.Mui-active {
  font-size: 16px;
  font-weight: 600 !important;
  font-family: inter;
}



.MuiStepLabel-label .Mui-completed {
  color: rgba(136, 137, 138, 1);
  font-size: 14px !important;
  font-weight: 400 !important;
}

.MuiStepLabel-iconContainer svg.Mui-completed {
  color: rgba(2, 210, 90, 1) !important;
  border: rgba(2, 210, 90, 1) 1px solid;
}

.MuiStepLabel-labelContainer>.Mui-completed {
  color: rgba(136, 137, 138, 1) !important;
  font-size: 20px !important;
}

.MuiStepLabel-iconContainer>.MuiSvgIcon-root {
  color: white !important;
  border: rgba(136, 137, 138, 1) 1px solid;
  border-radius: 50%;
}

.Mui-disabled .css-vnkopk-MuiStepLabel-iconContainer>.MuiSvgIcon-root>text {
  fill: rgba(136, 137, 138, 1) !important;
}

.Mui-active.MuiStepIcon-root>.MuiStepIcon-text {
  fill: rgba(46, 66, 255, 1) !important;
}

.MuiStepConnector-line {
  min-height: 24px !important;
}

.MuiAutocomplete-endAdornment {
  left: 9px;
}

.MuiAutocomplete-input {
  padding-left: 25px !important;
}

.MuiStepLabel-iconContainer>.MuiSvgIcon-root>text {
  color: rgba(136, 137, 138, 1) !important;
}

.spining-animation {
  animation: spin 4s linear infinite;
}

/** 
-------------------------
*/
.MuiStepLabel-iconContainer {
  padding-right: 15px !important;
}

.MuiStepLabel-iconContainer svg {
  width: 28px;
  height: 28px;
}


/* .css-1j0qgw8-MuiAutocomplete-root.Mui-focused > */



.transition-fade {
  transition: all 0.5s ease-in-out;
}



.loader {
  border-top-color: #3498db;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* styles.css */
.custom-checkbox input[type="checkbox"] {
  @apply appearance-none w-5 h-5 border border-gray-300 rounded-md checked:border-transparent focus:outline-none;
}

.custom-checkbox input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 100% !important;
  height: 100% !important;
  background-image: url("./assets/tick.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* CustomizeSidebar.css */

.select-font {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #d1d5db;
  background-color: #fff;
  width: 100%;
}

.select-font:focus {
  outline: none;
  border-color: #dfeaf6;
  box-shadow: 0 0 0 3px #ffff;
}

.option-font {
  padding: 16px !important;
  font-size: 16px !important;
}

.option-font:focus {
  padding: 20px !important;
}

.select-font option {
  padding: 0.5rem;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .profileSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .menuAvatar {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
  }

  .name {
    font-size: 14px;
  }

  .email {
    font-size: 12px;
  }

  .plan {
    font-size: 10px;
  }
}

.circular-progress {
  position: relative;
  width: 100px;
  height: 100px;
}

.circular-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#007bff calc(var(--progress) * 1%), #f0f0f0 0%);
}

.circular-progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
}

/* Add this CSS to your stylesheet */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  /* Adjust as needed */
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}

iframe {
  border: none;
  width: 100%;
  height: 400px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.dots {
  text-align: center;
  padding: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #333;
}