@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("./assets/Inter/static/Inter-Black.ttf") format("woff2");
  }
  @font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/Inter/static/Inter-Medium.ttf") format("woff2");
  }
}

body {
  background-color: #f9fafb;
}

.tertiary {
  background: linear-gradient(132deg, #963fff -9.83%, #2e42ff 91.64%);
  color: #fff;
  transition: all 0.3s;
}
.tertiary:hover {
  background: linear-gradient(132deg, #963fff -9.83%, #2e42ff 91.64%);
  box-shadow: 0 4px 18px #4d42ff99;
}
.tertiary:active {
  background: linear-gradient(132deg, #7137d5 -9.83%, #2939d5 91.64%);
}
.previous-btn {
  background: rgba(230, 240, 254, 1);
  color: rgba(30, 32, 34, 1);
  font-weight: 600;
  line-height: 22px;
}
.previous-btn:hover {
  background-color: rgba(230, 237, 254, 22);
}
/* .css-117w1su-MuiStepIcon-text {
  fill: rgba(46, 66, 255, 1) !important;
} */
.MuiStepLabel-labelContainer > .Mui-active {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600 !important;
  font-family: inter;
}
.MuiStepLabel-label .Mui-completed {
  color: rgba(136, 137, 138, 1);
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
}
.MuiStepLabel-iconContainer svg.Mui-completed {
  color: rgba(2, 210, 90, 1) !important;
  border: rgba(2, 210, 90, 1) 1px solid;
}
.MuiStepLabel-labelContainer > .Mui-completed {
  color: rgba(136, 137, 138, 1) !important;
  font-size: 20px !important;
}
.MuiStepLabel-iconContainer > .MuiSvgIcon-root {
  color: white !important;
  border: rgba(136, 137, 138, 1) 1px solid;
  border-radius: 50%;
}
.Mui-disabled .css-vnkopk-MuiStepLabel-iconContainer > .MuiSvgIcon-root > text {
  fill: rgba(136, 137, 138, 1) !important;
}
.Mui-active.MuiStepIcon-root > .MuiStepIcon-text {
  fill: rgba(46, 66, 255, 1) !important;
}
.MuiStepConnector-line {
  min-height: 32px !important;
}
.MuiAutocomplete-endAdornment {
  left: 9px;
}
.MuiAutocomplete-input {
  padding-left: 25px !important;
}
.MuiStepLabel-iconContainer > .MuiSvgIcon-root > text {
  color: rgba(136, 137, 138, 1) !important;
}

.spining-animation {
  animation: spin 4s linear infinite;
}

/* .css-1j0qgw8-MuiAutocomplete-root.Mui-focused > */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.transition-fade {
  transition: all 0.5s ease-in-out;
}
::-webkit-scrollbar {
  width: 2px;
  color: #d9d9d9;
  background: #d9d9d9;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* styles.css */
.custom-checkbox input[type="checkbox"] {
  @apply appearance-none h-5 w-5 border border-gray-300 rounded-md   checked:border-transparent focus:outline-none;
}

.custom-checkbox input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("./assets/tick.svg");
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}

/* CustomizeSidebar.css */

.select-font {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #d1d5db;
  background-color: #fff;
  width: 100%;
}

.select-font:focus {
  outline: none;
  border-color: #dfeaf6;
  box-shadow: 0 0 0 3px #ffff;
}

.option-font {
  padding: 16px !important;
  font-size: 16px !important;
}

.option-font:focus {
  padding: 20px !important;
}

.select-font option {
  padding: 0.5rem;
  font-size: 1rem;
}
@media (max-width: 600px) {
  .profileSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .menuAvatar {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
  }

  .name {
    font-size: 14px;
  }

  .email {
    font-size: 12px;
  }

  .plan {
    font-size: 10px;
  }
}
